results.csv
/output/
*.iml
/bin/

/build/
.gradle
/build/
	 
.idea/gradle.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/workspace.xml
.idea/
clonedRepositories/
.gitignore


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.jimple

.idea/workspace.xml
